[2017-03-05 06:47] sjl070707 opened #1 "import xgboost error"
currently on dask 1.14 [complete] (from pip)
dask-xgboost also installed (from pip)
xgb 0.62 ubuntu 64

following error occurs.

import dask_xgboost

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-6-e033e148306e> in <module>()
----> 1 import dask_xgboost

/work/miniconda/lib/pyth

[2017-03-05 07:34] sjl070707 commented on #1
I forked your repo and modified 1 line to point it to the correct api.
tested and i was able to import dask xgb with success

https://github.com/sjl070707/dask-xgboost/commit/9d1b2c228763c8e7eb3c65b1c413366b7bb56d1a

[2017-03-05 08:45] sjl070707 opened #2 "unable to finish training"
setup:
dask 0.14 . (pip installed)
xgboost 0.62 (conda installed)
dask-xgboost 0.10.X (modified distributed.comm.addressing) for loading import dask_xgboost without error  (https://github.com/dask/dask-xgboost/issues/1)

I was following the example here, https://gist.github.com/mrocklin/3696fe2398dc7152c66bf593a674e4d9

<img width="972" alt="screen shot 2017-03-05 at 3 42 07 am" src="https://cloud

[2017-03-05 09:08] sjl070707 commented on #1
I downgraded my xgboost to 0.60 and it loaded with pip installed dask_xgboost

[2017-03-05 10:09] #1 closed

[2017-03-05 10:14] sjl070707 commented on #2
i recreated new container by putting the right version of dependencies both python and system

g++
gcc

pip install
xgboost==0.6a2
dask-xgboost==0.1.0

python 3.5.4 via https://repo.continuum.io/miniconda/Miniconda3-4.2.12-Linux-x86_64.sh
miniconda3

<img width="981" alt="screen shot 2017-03-05 at 5 11 32 am" src="https://cloud.githubusercontent.com/assets/11779060/23586427/749fd3b2-0162-11e7-9ff1

[2017-03-05 13:14] mrocklin commented on #1
Would you like to submit a PR with your fix?

On Sun, Mar 5, 2017 at 5:09 AM, sjl070707 <notifications@github.com> wrote:

[2017-03-05 18:34] sjl070707 commented on #2
it looks like an exception occurs and dask-xgboost is trying to handle this error.

Traceback (most recent call last):
  File "/work/miniconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py", line 2881, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-4-9061bcc14abf>", line 6, in <module>
    bst = dxgb.train(client, params, data_train, labels_

[2017-03-08 14:45] mrocklin commented on #2
Do we know why it's stuck?  Does XGBoost provide logs here?  At this stage Dask has done all of its work and has handed off control to XGBoost.  Unfortunately we don't have any visibility into what's going on internally.

[2017-03-15 17:14] andmib opened #3 "'return' with argument error on dask_xgboost import"
When trying to import dask_xgboost (installed via `pip`), I get the error:

[code]

Thoughts?

[2017-03-15 17:27] mrocklin commented on #3
Looks like we're not cleanly supporting Python 2.  This should be changed
to

    raise gen.Return(result)

I'll endeavor to clean this up sometime later today

On Wed, Mar 15, 2017 at 1:14 PM, andmib <notifications@github.com> wrote:

[2017-03-15 17:52] andmib commented on #3
That worked, I appreciate it.

[2017-03-15 17:52] #3 closed

[2017-03-15 17:57] mrocklin commented on #3
Any interest in submitting a PR with the fix?

On Wed, Mar 15, 2017 at 1:52 PM, andmib <notifications@github.com> wrote:

[2017-03-15 18:11] andmib commented on #3
Honestly, I'm not entirely sure how to do that :/

[2017-03-15 18:41] mrocklin commented on #3
I've pushed a fix

On Wed, Mar 15, 2017 at 2:11 PM, andmib <notifications@github.com> wrote:

[2017-03-15 18:43] andmib commented on #3
Thanks, sorry I couldn't be more help on that.

[2017-05-09 03:37] DigitalPig commented on #2
I have the same issue here using bioconda's xgboost 0.6.a2 and dask-xgboost from pip. Stuck at the same place. Where can I find the log for XGBoost?

[2017-05-09 13:58] DigitalPig commented on #2
@mrocklin What version of `xgboost` do you use? I was wondering if the stuck issue is because of the newly released `xgboost`?

[2017-05-09 19:17] mrocklin commented on #2
Perhaps.  I don't use xgboost regularly and so don't have a standard version.  I probably used whatever was recent when I first wrote this code.

Running the test suite today after conda-installing xgboost from the conda-forge channel I find that dataframe tests pass but that the dask.array test segfaults.  I don't experience the same behavior as above.  I'll try to go over it again with newer lib

[2017-05-09 21:23] DigitalPig commented on #2
Ah. did not notice that we have test code there. Great. I can play around with it to see what I can do.

PS: Can you also reopen this issue?

[2017-05-09 21:24] mrocklin commented on #2
Thank you for your effort here @DigitalPig .  Reopened

[2017-05-12 06:51] DigitalPig commented on #2
I found a very interesting thing when trying to figure out why it gets stuck. I ran test code on my Ubuntu 16.10 with conda equipped with python 3.6/xgboost from conda-forge/dask-xgboost from github. Everything seems to be fine. All tests pass and I use Titanic training data with `dask_xgboost` and it successfully trained as well except complaining the "hist" option in `params`.

But on my cluster

[2017-05-12 12:23] mrocklin commented on #2
Indeed seeing tests have different behavior in the same conda environment is quite odd.

[2017-05-13 05:07] DigitalPig commented on #2
After provisioned a Ubuntu 14.04 cluster with same setup, all tests can pass now. The toy example using titanic can run through as well both under LocalCluster and real cluster.

I think this may due to the RHEL7 issue somewhere, although I am not sure where.

Also, it would be really great that we can grab output information from `xgboost` during the process.

[2017-05-30 14:53] mrocklin commented on #2
Presumably this is passing through stdout or the Python logging module?  Historically Dask has relied on cluster managers to handle logs.  For LocalCluster you can start with `LocalCluster(silence_logs=False)` to get output on stdout/stderr.

This comes up decently often enough that we might want to have some mechanism to stream logs back though.  I'll ponder this, though it's unlikely to be solve

[2017-05-30 14:54] mrocklin commented on #2
Thank you for tracking down the issue with system libraries by the way.  Any thoughts on which dependency within Ubuntu 14.04 vs RHEL7 might be relevant here?

[2017-06-15 03:15] DigitalPig commented on #2
Not at this point... But I will spin up smaller clusters with two dist and dig a little bit more. Any finding from your side?

[2017-06-15 11:27] mrocklin commented on #2
No finding from my side.  To be honest I haven't looked into this problem much (there have been a few other things going on for me.)  My apologies for not contributing here.

[2017-08-08 10:26] rquintino commented on #2
Hi there! having very similar problem. Using docker containers on a CentOS Linux release 7.3.1611 (Core), everything with dask/distributed seems to work fine (basic tests, dask grid search, joblib integration), but when using dxgb.train for very small train task, it never finishes. See some changes on dask UI, but then it stops.

Interestingly enough, dxgb.train runs fine locally on my windows doc

[2017-09-29 15:40] mrphilroth opened #5 "Problem with rabit.init"
After modifying the code with PR #4, I'm now running into errors when xgboost's rabit is started:

[code]

These are logs from a local worker on my laptop when `xgb.rabit.init(args)` is called. I'm not sure how to go about debugging this.

[2017-09-29 16:10] mrocklin commented on #5
Perhaps rabit doesn't like the name `localhost`?  If you're starting with `LocalCluster` then maybe try starting with the command line `dask-scheduler` and `dask-worker` command line executables.

http://distributed.readthedocs.io/en/latest/setup.html

[2017-09-29 17:19] mrphilroth commented on #5
Yeah. You're right. I don't think rabit likes `localhost`. I already was using `dask-scheduler` and `dask-worker` from the command line. A quick attempt at `LocalCluster` failed because of errors like this:

[code]

but that might be unrelated and solvable if I dig into it. Instead, I used `dask-ec2` to bring up a cluster and successfully trained a model from beginning to end. Closing the issue...

[2017-09-29 17:19] #5 closed

[2017-09-29 18:00] mrocklin commented on #5
If you want to use LocalCluster in a python script you need to put it
within the `if __name__ == '__main__':` block

On Fri, Sep 29, 2017 at 1:19 PM, Phil Roth <notifications@github.com> wrote:

[2017-10-11 21:50] TomAugspurger opened #8 "CI Failure"
Merging #7 caused a failure on master: https://circleci.com/gh/dask/dask-xgboost/9

It also didn't run on the PR, not sure why yet. Looking now.

[2017-10-12 19:15] mrphilroth opened #9 "Incorrect overly simple model is returned"
No matter how much I play with the input data or xgboost parameters, I can only get dask_xgboost.train to return an overly simple model that has 10 trees with a single leaf node on each tree. While training locally, I have output that looks like:

[code]
I'm guessing that this means the training parameters aren't making it to the xgboost train method, but printing those out immediately before the

[2017-10-12 19:26] mrocklin commented on #9
Interesting.  While building this I have to admit that I was more concerned with getting the distributed systems to play nicely together and less interested in checking correctness.  Looking through things again it certainly looks like we're passing all of the parameters through, but my experience as an XGBoost user is quite limited and it's possible that I'm missing something.

@mrphilroth do you

[2017-10-12 19:30] mrphilroth commented on #9
I'm guilty of the same thing! I've been happily training models just trying to get my data pipeline correct without checking the actual models till now.

I've been debugging the code and trying lots of things out. I'll keep doing that. This is more of a "Hey, I might need more help than I thought" issue filing. So far, the code in this repo looks like it's doing what it should be doing. I may have

[2017-10-12 19:32] mrocklin commented on #9
My first instinct here is to try to isolate the problem to either dask-xgboost or xgboost proper. If the problem is in the latter project then I would raise upstream.  They'll be much better equipped to handle it if so.

[2017-10-12 19:33] mrocklin commented on #9
Thank you for raising this issue regardless.

[2017-10-12 19:59] TomAugspurger commented on #9
@mrphilroth what's in your `kwargs`, specifically, do you set `num_boost_round`? This confused me last week, since the xgboost docs use a bunch of different names for that argument.

[2017-10-12 20:03] TomAugspurger commented on #9
[code]

[2017-10-12 22:43] mrphilroth commented on #9
@TomAugspurger That example was compelling enough for me to go back and get rid of all my parameters except num_boost_round. Then it worked! I probably had one parameter that worked on my single machine but can't work when going distributed. I'm guessing this caused xgboost to use dummy parameters instead of my invalid ones.

If I figure out which one was wrong I'll reply here for future Google'er

[2017-10-12 22:43] #9 closed

[2017-11-15 19:55] mrphilroth opened #11 "Training on selected subset of Dask DataFrame rows"
In order to do CV iterations, I'd like to load all the data into a Dask DataFrame, select a subset of rows, and then train only on those selected rows. I've written some code that does this and it works when I use a ```LocalCluster```. When I try and use a true distributed cluster, I get an error when constructing the worker_map:

[code]

I tried to write a test that demonstrates this behavior, bu

[2017-11-16 14:12] TomAugspurger commented on #8
Closed by #12

[2017-11-16 14:12] #8 closed

[2017-11-16 17:44] mrphilroth commented on #11
Still tracking this down. It works when I start workers from the command line on the same machine. It does not work when I use command line workers on two different machines. It gives me the same error on the scheduler as above, but since I'm using the command line workers I can get new error messages from workers that aren't local to the scheduler:

[code]

Still working on it, but if this looks

[2017-11-16 18:59] mrocklin commented on #11
Given the error my first guess is a difference in library versions somewhere.  Perhaps `_fill_function` takes five or six arguments in different versions of the same library.

[2017-11-16 22:58] mariusvniekerk commented on #11
So there has been some activity in cloud pickle. I'd validate that all your nodes are running the same /latest? Version

[2017-11-16 23:25] mrphilroth commented on #11
Yep. Versions. I did a deep clean on my local conda environment. I must have had something old in there that was different from what was getting provisioned on EC2 nodes. Thanks.

[2017-11-16 23:25] #11 closed

[2017-11-17 20:34] quartox opened #13 "Training data not arriving to train_part"
I am getting the following error message `ValueError: too many values to unpack (expected 2)` when running `dask_xgboost.train` on a hadoop cluster.

Digging into the logs the shows that for one of the containers `list_of_parts = ['finalize-df33507e3c937f53053b5955c9a84040', 'finalize-c424c6035f86bdbdb8fafde5a9004238', 'finalize-f62e06bceea3e45d4502b6975e94c2fc', 'finalize-4de332f518ef9fbbe9108241

[2017-11-17 20:56] mrocklin commented on #13
Often errors like this are caused by a version mismatch between client and worker.  Can you verify that this is not the case?

[2017-11-17 21:01] quartox commented on #13
The local env (dask2):

[code]

The cluster env (dask-env2):
[code]

[2017-11-17 21:21] TomAugspurger commented on #13
How about e.g. coudpickle?

You can also try `client.get_versions(check=True)`.

[2017-11-17 21:26] quartox commented on #13
Both environments were created from `conda-forge` at the same time. The only difference from standard conda forge is a minor change to `libhdfs3` (both environments have the same version) to allow it to read files governed by ACLs and the local environment installing `knit` from the current master branch (the cluster environment does not have `knit` installed).

`client.get_versions(check=True)` r

[2017-11-20 18:27] mrocklin commented on #13
The result above is odd in that no workers are present.

Can you include the traceback if available?

[2017-11-21 14:59] dmironiuk commented on #13
I've got the same issue using distributed Client:

[code]

The example values of the `list_of_params` variable are:
[code]
or
[code]

So after applying `zip(*list_of_params)` we get something like this (for length 3):
[code]
And it doesn't seem to be anything one could expect;)

[2017-11-21 15:27] mrocklin commented on #13
@dmironiuk it sounds like you might actually have a reproducible test case.  Are you able to produce something that others can try to get the same failure?

[2017-11-21 16:15] dmironiuk commented on #13
Sure

Starting from the begining:
[code]
I'm running a scheduler and a worker in a standard way but just for completeness:
[code]
[code]

And `python train_xgb.py`:
[code]

And in the attachment you'll find the CSV file I use (I've change its extension to `.txt` to be able to upload it).
[aa1000.txt](https://github.com/dask/dask-xgboost/files/1492069/aa1000.txt)

[2017-11-21 16:37] mrocklin commented on #13
When doing this myself I ran into two errors:

1.  `df[range(...)]` fails because it isn't a list in Python 3 (I suspect that you're still on Python 2)
2.  I ran into a problem with `feature_names` cc @TomAugspurger and @mrphilroth

[code]

Removing the `feature_names` addition made things run fine.  I suspect that this is due to some churn with xgboost.

Unfortunately, I wasn't able to reproduce

[2017-11-26 20:21] TomAugspurger opened #15 "Check column names before passing on"
e.g. if they're ints, xgboost will refuse them.

[code]

[code]

[2017-11-26 20:22] TomAugspurger commented on #13
Opened https://github.com/dask/dask-xgboost/issues/15 for the feature names issue.

[2017-12-04 21:36] quartox commented on #13
Full traceback

[code]

and a re-run of `client.get_versions(check=True)` after the workers are created (it appears that they aren't created before any action):

[code]

I started a new environment with dask 0.16.0 and distributed 1.20.1 and everything works, so I no longer need to keep this issue open, but I am happy to help provide more info if you want to debug the problem.

[2018-02-17 01:36] galfaroi opened #17 "train rabit module"
Hi,

I have the following issue after I run:
bst = dxgb.train(client, params, X, y)

/usr/local/lib/python2.7/dist-packages/dask_xgboost/core.pyc in train_part()
     69
     70     args = [('%s=%s' % item).encode() for item in env.items()]
---> 71     xgb.rabit.init(args)
     72     try:
     73         logger.info("Starting Rabit, Rank %d", xgb.rabit.get_rank())

AttributeError: 'module' object

[2018-02-17 02:41] mrocklin commented on #17
[code]

What version of xgboost do you have?

[2018-02-22 01:09] galfaroi commented on #17
Hi  Matthew

I have

In [1]: import xgboost

In [2]: print xgboost.__version__
0.4

[2018-02-22 13:27] mrocklin commented on #17
I suspect that you have an old version of XGBoost that does not include the rabit module in the right place.  It would be useful to know what version this is so that we can update our minimum requirements.  Do you have any additional information here?

[2018-02-27 08:35] galfaroi commented on #17
Updated seems to work, thanks!

[2018-02-27 08:35] #17 closed

[2018-05-17 13:52] TomAugspurger opened #18 "Setup cron job for running tests"
Given the relatively low traffic here, it'd be nice to regularly run the tests to catch changes in XGBoost / dask.

[2018-06-08 12:21] sagnik-rzt commented on #2
Even I am encountering the same problem.

`import dask
import dask.dataframe as dd
from dask.distributed import Client
import dask_xgboost as dxgb

client = Client('192.168.50.211:8786')
client.restart()

df = dd.read_csv("adult_comp_cont", storage_options={'anon' : True})
df = df[:100]
df.columns = [str(i) for i in range(6)] + ['target']
Y = df['target']
X = df.drop('target', axis=1)

x, y = dask

[2018-06-08 12:21] sagnik-rzt commented on #2
Even I am encountering the same problem.

``
import dask
import dask.dataframe as dd
from dask.distributed import Client
import dask_xgboost as dxgb

client = Client('192.168.50.211:8786')
client.restart()

df = dd.read_csv("adult_comp_cont", storage_options={'anon' : True})
df = df[:100]
df.columns = [str(i) for i in range(6)] + ['target']
Y = df['target']
X = df.drop('target', axis=1)

x, y = da

[2018-06-08 12:46] TomAugspurger commented on #2
What's happening on the dashboard at this point? Are you sure the data has finished loading with the call to `.persist`?

[2018-06-09 06:12] sagnik-rzt commented on #2
This is the exception when I kill the process:
[code]
It is getting stuck when I initialize the client itself, when I comment out the client part, i.e.

[code]
it gives this :
[code]

[2018-06-09 08:47] sagnik-rzt commented on #2
Thanks for pointing out the mistake!
I did this:
[code]
and got this:
[code]
The issue of delay was because of some conflict between the scheduler and the workers, so I used ```LocalCluster``` with ```process=False```

[2018-06-27 06:01] sagnik-rzt opened #19 "xgboost not running when not using LocalCluster"
Hey guys, I am trying to run a distributed xgboost model on dask. I am able to run it using a ```LocalCluster()```, however when I manually set up my scheduler and worker and use a ```Client``` pointing towards that scheduler, I hit some exceptions. This is my code:
[code]
The exception I am getting is:
[code]
This is my scheduler log:
[code]
This is my worker log:
[code]
Is anyone else facing thi

[2018-06-27 10:58] TomAugspurger commented on #19
[code]

makes me suspect that this is purely related to dask, not dask-xgboost. It seems like the worker isn't able to get the data.

What is `adult_comp_cont`? Is that supposed to be a path to an S3 file? The workers would all need access to a shared file system of some sort.

[2018-06-27 11:02] mrocklin commented on #19
Ideally the client would receive this exception when the run dask_xgboost
code.  Currently we wait on all of the parts of the dataframe, but we don't
verify that they succeeded.  Instead we should probably verify that all of
them have finished and, if any didn't, we should raise an error.  I can
throw up a quick PR.

But yes, as to the original question, the file isn't available on the other
worke

[2018-06-27 11:05] sagnik-rzt commented on #19
Ahh got it. The file was present on the master node only, so workers didn't have access to it. Thanks a lot!

[2018-06-28 14:20] dma092 opened #21 "Using RandomizedCV with xgboost"
Hi all,

I am trying to use randomized cross validation on dask-xgboost.
Here is the snippet of code I am trying to get to work:

[code]
While running this code, I get the error TypeError: 'Future' object does not support indexing.
I think that I am misusing the api. If somebody can confirm that and point me to the right direction, I will be gratefull.
Thanks

[2018-06-28 14:41] TomAugspurger commented on #21
FYI, I think you want `scheduler=client`, not `scheduler=client.scheduler`.

[2018-06-28 14:41] TomAugspurger commented on #21
That gives a different error

[code]

[2018-06-28 14:49] TomAugspurger commented on #21
There may be two issues.

"No clients found", and a secondary issue once that's resolved:

It seems like by the time it gets to `dask_searchcv.methods.fit_and_score` the values are NumPy arrays, while dask-xgboost only expects dask arrays (or dataframes).

I'm debugging with

[code]

I likely won't have time to debug this further right now. Would welcome additional help here if you have time @dma0

[2018-06-28 14:53] mrocklin commented on #21
I would just leave scheduler= blank and let the default behavior handle
things

On Thu, Jun 28, 2018 at 10:49 AM, Tom Augspurger <notifications@github.com>
wrote:

[2018-06-28 14:53] mrocklin commented on #21
Long term it looks like dask-searchcv needs to update to the newer
scheduler= keyword handling in dask

On Thu, Jun 28, 2018 at 10:53 AM, Matthew Rocklin <mrocklin@anaconda.com>
wrote:

[2018-06-29 10:30] dma092 commented on #21
@TomAugspurger
I would be glad to!

[2018-07-06 09:26] alokgogate opened #22 "only one worker used out of 2 available"
I have 3 machines (physical). One is the scheduler, and 2 separate machines for workers (one worker process on both machines respectively). When I submit a dask_xgboost job I can see that only one worker is being used and not all of them. Any clue as to why this may be happening? Also when I submit 2 jobs simultaneously, then also only one worker is being used.

dask - 0.16.1
dask-glm - 0.1.0
dask

[2018-07-06 11:02] mrocklin commented on #22
Repeated question.   Closing.  Please don't repeat issues.

https://github.com/dask/distributed/issues/2097

[2018-07-06 11:02] #22 closed

[2018-07-06 11:04] mrocklin commented on #22
Or close the other one and I'll open this one back up.  Up to you.

[2018-07-16 07:53] Mestalbet opened #23 "Cannot assign requested address"
Hi,

On a simple Dask XGBoost run I get the error in the subject. The sample code looks like:
[code]

And the error is as follows:
[code]

Any help will be greatly appreciated.

Thanks.

[2018-07-16 12:33] mrocklin commented on #23
Hrm, interesting.  On line 171 we catch OSErrors and handle them, so I'm a
bit surprised that this affected you at all.  What is the result of the
following code on your machine?

import socket
socket.error is OSError

On Mon, Jul 16, 2018 at 2:53 AM, Noah Dolev <notifications@github.com>
wrote:

[2018-07-17 07:46] Mestalbet commented on #23
The result is _true_ . Thanks for looking into it.

[2018-07-31 11:41] Mestalbet commented on #23
Any news?

[2018-07-31 13:17] TomAugspurger commented on #23
It's a bit hard since neither of us can reproduce it. A few things to try:

1. How are you creating your client?
2. Print out the host IP and port, try creating a socket and connecting to that manually
3. Try xgboost in distributed mode without dask (https://xgboost.readthedocs.io/en/latest/tutorials/aws_yarn.html)

IIRC, this code is taken as is from https://github.com/dmlc/rabit. Perhaps there a

[2018-08-06 11:05] Mestalbet commented on #23
Hi,

I create the client exactly as in the example.
[code]

I succeed to connect a socket manually:

[code]
Inputting "test" returns 4 as expected.

Printing the hostIP and port return the expected scheduler-ip and port 8786.

I really am not sure where the problem is. I can't run your demo code.

[2018-08-15 14:06] aymankh86 commented on #23
Hi, Any update on this isssue? It works well when I run it on local cluster but I got the same error when deploy it and run on the cluster

[2018-08-15 14:34] TomAugspurger commented on #23
I haven't reproduced it yet. I can try on a cluster later.

@aymankh86 can you post your full traceback?

[2018-08-16 08:16] aymankh86 commented on #23
`OSError                                   Traceback (most recent call last)
<ipython-input-15-1e550ef8a81e> in <module>()
----> 1 v.get().result()

~/Envs/env/lib/python3.6/site-packages/distributed/client.py in result(self, timeout)
    191                                   raiseit=False)
    192         if self.status == 'error':
--> 193             six.reraise(*result)
    194         elif sel

[2018-09-11 14:33] mrocklin commented on #23
So it could be that the scheduler's address is only available on a particular port.  When we try to connect on a new port on that same host the address may not be available.  Currently it looks like we use the hostname of the scheduler address used by the client, and then some other port.  It may be that that port isn't open though.

We should probably open things up a bit to allow users to specif

[2018-10-29 20:44] samsonpaturi opened #30 "dxgb.train throws ValueError: need more than 1 value to unpack"
I am running a master and 5 node cluster on aws.
All my feature variables (X_train) are continuous and have been properly cleaned and null values filled. The target label (y_train) is 0 or 1 (float64);
I get the following error when trying to execute the following:
bst = dxgb.train(client, params, X_train, y_train) where X_train and y_train are data_train and labels_train;
------------------------

[2018-11-06 09:18] mateuszkaleta opened #31 "AttributeError when using GridSearchCV with XGBClassifier"
Hello,

I'm working on a small proof of concept. I use dask in my project and would like to use the XGBClassifier. I also need a parameter search and, of course, cross-validation mechanisms.

Unfortunately, when fitting the dask_xgboost.XGBClassifier, I get the following error:

Although I call .fit() with two dask objects, somehow it becomes a pandas.DataFrame later on.

Here's the code I'm using

[2018-11-06 13:15] TomAugspurger commented on #31
Can you try with master? Older versions didn't properly handle pandas / numpy objects passed to train, but I think that's fixed now.

Will try to get a release out soon.

[2018-11-06 13:17] mrocklin commented on #31
Does our GridSearchCV even handle dask-ml estimators?  I thought that it
was mostly optimzied for parameter searches on scikit-learn estimators.

On Tue, Nov 6, 2018 at 8:15 AM Tom Augspurger <notifications@github.com>
wrote:

[2018-11-06 13:21] TomAugspurger commented on #31
I assume by "dask-ml estimators" you mean dask data objects? dask-ml.model_selection.GridSearchCV should work fine on either, but you have the requirement that the underlying estimator being searched over supports whatever is passed to it (and doesn't blow up memory).

When dask_xgboost encounters a pandas or NumPy object, it just trains the Booster locally. I wonder if that should be done on a wo

[2018-11-07 06:49] mateuszkaleta commented on #31
Thanks for the response.

Okay, I've tried with master, but now another problem appears:

[code]

[2018-11-07 13:45] TomAugspurger commented on #31
Whoops, I've accidentally been running your script on my branch for https://github.com/dask/dask-xgboost/pull/28. I didn't realize that wasn't merged.

I'm going to kick off the Ci again, and then merge it.

[2018-11-08 06:40] mateuszkaleta commented on #31
Hah, glad to read this!

Thank you.

[2018-11-13 00:49] gvelchuru commented on #30
I get this too when running a Client with processes=false

[2018-11-13 17:12] TomAugspurger commented on #30
Sorry I missed this @samsonpaturi. How did you create your client? We should probably be using `distributed.utils.parse_host_address`. What is the value of `address` in that traceback? We  may need to call `distributed.utils.resolve_address` before splitting it.

@gvelchuru  I'm curious: what's your goal using dask-xgboost with a local cluster? Any reason not to use XGBoost directly in that case?

[2018-11-16 13:59] mrocklin opened #32 "Ensure that training and testing data align"
Currently if you provide training and testing data that have the same number of partitions, but a different number of rows per partition then the user will get a non-informative error.

Given that we need to have all the data in memory anyway, we could just fix this for the user and balance partitions for them.

cc @jrbourbeau

[2018-11-16 17:54] jrbourbeau commented on #32
Thanks for opening up this issue @mrocklin. Below is an example to reproduce the issue

[code]

Running this example will output

[code]

for the `X` partition lengths, and

[code]

for the `y` partition lengths (note they are different). And then an error message.

<details>
<summary> Traceback details </summary>

[code]
</details>

<br>

The relevant portion of the error message is `label size a

[2018-11-16 17:57] jrbourbeau commented on #32
I'm in favor of this idea. I'll open up a PR with a proposal to balance the partitions for input data.

[2018-11-20 23:19] jrbourbeau opened #34 "CI failures"
There are a few test failures on `master` that I came across in  #33 and thought it was worth opening up a separate issue.

The test failures are due to a `ChildProcessError`. For example, the traceback for `pytest dask_xgboost/tests/test_core.py::test_classifier` on `master` is

<details>
<summary>Traceback details</summary>

[code]

</details>

[2018-11-21 13:12] mrocklin commented on #34
Unfortunately I don't have much insight to share here.  This probably requires some investigation.

[2018-11-26 12:10] chenzikun commented on #15
hello, is this  issue resolved?

[2018-11-26 12:10] chenzikun commented on #15
hello, is this issue resolved? @TomAugspurger

[2018-11-26 12:18] TomAugspurger commented on #15
Seems like it's still open. Are you interested in working on it?

On Mon, Nov 26, 2018 at 6:10 AM chenzikun <notifications@github.com> wrote:

[2018-11-26 13:00] chenzikun commented on #15
I use xgboost on single machine, it works well.
But comes with the same error with dask-xgboost.
I am trying to figure out what  was happened

[2018-11-26 13:06] chenzikun commented on #15
66     labels = concat(labels)
     67     dmatrix_kwargs["feature_names"] = getattr(data, 'columns', None)
---> 68     dtrain = xgb.DMatrix(data, labels, **dmatrix_kwargs)
why send "feature_names" to  xgb.DMatrix?

[2018-11-26 13:07] chenzikun commented on #15
66 labels = concat(labels)
67 dmatrix_kwargs["feature_names"] = getattr(data, 'columns', None)
---> 68 dtrain = xgb.DMatrix(data, labels, **dmatrix_kwargs)

why send "feature_names" to xgb.DMatrix?

[2018-11-26 13:08] TomAugspurger commented on #15
The feature names are nice to preserve.

On Mon, Nov 26, 2018 at 7:07 AM chenzikun <notifications@github.com> wrote:

[2019-01-07 12:50] crawforc3 commented on #32
Is there a work around that will ensure training and testing data align?

I am reading several CSVs into Dask Dataframes
[code]

I confirmed that the lengths are the same: 502732

Then run this:
[code]

Then I get this error:

[2019-01-07 17:30] mrocklin commented on #32
Currently there is no easy workaround.  It would be good to provide one though.  I would think that this work would happen upstream in dask.dataframe , but I don't have a concrete plan here.  Help would be welcome.

[2019-01-23 09:34] ajdani commented on #31
Hi!

Are there any updates on this issue?

I'm heading the same problem - and the PR unfortunately did not get merged, as the CI pipeline failed.

[2019-01-23 11:10] mateuszkaleta commented on #31
I don't know if it works for you, but you might be interested in the original [xgboost's external memory API](https://xgboost.readthedocs.io/en/latest/tutorials/external_memory.html?highlight=external%20memory).

I've ended up searching hyperparameters with [hyperopt](http://hyperopt.github.io/hyperopt/), training on large data using the external memory API.

[2019-03-01 21:25] quartox commented on #31
I was able to install the branch from #28 and it works for my use case. @TomAugspurger I would be interested in helping solve the CI problems but I don't know where to begin (the error is in multiprocessing when using distributed.utils_test.cluster), so if you would welcome help and be willing to point me in the right direction just ping me. No worries if that is more trouble than it is worth.

[2019-03-02 16:23] furlongce commented on #21
Any idea when this will be resolved?

[2019-03-04 12:39] TomAugspurger commented on #31
I spent another couple hours on this with no luck... It's just hard to work around xgboot's behavior of basically doing `sys.exit(0)` when you try to init their workers twice within a thread. In theory keeping the initialization state as a thread-local should suffice, but I haven't been able to make that work yet, sorry. I don't think I'll have any more time to work on it this week.

FYI, the `spa

[2019-03-06 22:24] DigitalPig commented on #23
Hi, I am running helm dark and have the same issue. Using the gist from @TomAugspurger works fine. Any idea how I am able to run dark xgboost from helm then?

[2019-03-08 15:57] palpen commented on #23
I am also running using Helm Dask in a cluster on Kubernetes Engine in GCP and experiencing the same issue.

Here's the error:
[code]

For what it's worth, here is the content of the yaml file I used when installing Dask using Helm on the cluster

[code]

[2019-03-08 16:04] TomAugspurger commented on #23
I'm not really sure what a good solution is here.

Short-term, we can accept an optional `host` argument to `train`, and pass that through

[code]

Then (sophisticated) users can get the real IP address of the scheduler with something like

[code]

I wouldn't recommend that as a real solution, but it may be an OK stopgap.

[2019-03-08 16:39] palpen commented on #23
Thanks @TomAugspurger. Out of curiosity, is this issue unique to Helm deployment of Dask on Kubernetes?

[2019-03-08 16:45] TomAugspurger commented on #23
I'm not sure I understand the issue well enough, but I doubt it's specific
to Kubernetes.

On Fri, Mar 8, 2019 at 10:39 AM Palermo Penano <notifications@github.com>
wrote:

[2019-03-11 14:05] quartox commented on #34
@TomAugspurger commented in #31 that it has something to do with a new xgboost update making it incompatible.

[2019-03-29 17:46] mt-jones opened #36 "[FEATURE DISCUSSION] Adding dedicated support for Dask-cuDF"
Currently, RAPIDS deploys a forked version of this repository with additions that support a few things:

1. New Random Forests (RF) interface in XGBoost
2. Ingest of `dask-cudf` objects
3. Ingest of GPU device-resident `XGBoost.DMatrix` objects.

We're considering abstracting these additional features and their associated dependencies into a `compat.py` so that we can contribute these feature addi

[2019-03-29 17:54] mrocklin commented on #36
Thanks for raising this issue @mt-jones !

In general contributions would be welcome.  I think the only thing we would want to be careful about would be explicit dependencies on cuda-specific software, just because that might not be common case.  My guess/hope is that we can achieve this with some creativity.

This seems like an obvious win regardless.  This project depends on XGBoost, so any code

[2019-03-29 17:57] mrocklin commented on #36
Also, just to be clear, I'm looking forward to including the GPU support to this project.  I think that it will be a great contribution.  Please don't interpret my pickiness above as a lack of enthusiasm :)

Thanks for leading on this @mt-jones

[2019-03-30 19:46] mt-jones commented on #36
@mrocklin it is clear to me that you were enthusiastic from your immediate detailed response. Thank you!

**Regarding RF integration**

To clarify, this feature is already integrated into `dmlc/xgboost`, and required additional class infrastructure to accomplish.

**Regarding dask-cudf integration necessary for functioning**

The requirements are neatly summarized as follows:
* The proper `concat`

[2019-03-30 20:13] mrocklin commented on #36
Dask dataframe handles this with the `dask.dataframe.methods.concat` function, which will call the appropriate function based on the inputs provided.

I'm not sure I understand this.  Can you elaborate?

I think that ideally it should be dask-xgboost's job to gather dataframes on the appropriate node, concatenate them together, and then hand that dataframe off to XGBoost.  Ideally we don't have to

[2019-04-01 16:24] mt-jones commented on #36
Are you suggesting that Dask can replace the logical [`concat` here](https://github.com/dask/dask-xgboost/blob/4661c8a1d3a7f6b63ff994b944b6a6231e7c9f31/dask_xgboost/core.py#L51)?

Namely, XGBoost _cannot be given multiple parts (e.g. a list, array, etc.) in data or labels_. This is reason for the [concatenation, here](https://github.com/dask/dask-xgboost/blob/4661c8a1d3a7f6b63ff994b944b6a6231e7c9f

[2019-04-01 16:42] mrocklin commented on #36
Yes.  I recommend taking a look at `dask.dataframe.methods.concat`, which has a dispatched solution.

Yes, I agree, hence the suggestion to use `dask.dataframe.methods.concat` from before.

You're going to have to suffer the import time at some point.  Might as well put it off until we're sure we're going to need it?

Also, I suspect that there is no fundamental reason for cudf to take so long to

[2019-04-01 17:03] mt-jones commented on #36
Where performance is of principal concern, it would be important to have the import done once, rather than incurring it multiple times. It's not about paying the cost, it's about ensuring that the cost to import is properly segregated _from any particular working function_, and that these imports occur **only once**.

It's not that the import takes long, it's that the `concat` time is very short.

[2019-04-01 17:07] mrocklin commented on #36
Imports only happen once per Python process

[code]

I agree that this screws with benchmarking and such, but I'm not sure how feasible it is.  We can't predict and pre-import every module that the user might want to use.

[2019-04-01 17:49] mt-jones commented on #36
This is a fair observation. Your design suggestion also implies a cleaner interface overall. I think I would be in support of it. Really keen to hear from @TomAugspurger @ogrisel

[2019-04-03 22:37] mrocklin commented on #36
In a side channel conversation @mt-jones asks

I think that you just need to use the `dask.dataframe.methods.concat` function.  I don't think that there is any other work for you to do.  You don't need to implement anything, it's already implemented

I hope that you won't need to do any work here.  Hopefully if you use the concat function above you won't ever have to import cudf explicitly, and so

[2019-04-03 23:43] mt-jones commented on #36
Yes, I believe I miscommunicated @mrocklin! Sorry about that. Let me clarify:

There is a section of code which type-checks inputs for `concat`. This is done primarily to ensure that any _other_ datatype is not used. [See, here](https://github.com/dask/dask-xgboost/blob/4661c8a1d3a7f6b63ff994b944b6a6231e7c9f31/dask_xgboost/core.py#L51).

[code]

It is clear that this section of code would be reduc

[2019-04-04 03:42] mrocklin commented on #36
I would nuke the concat function defined in this repository and replace it with `dask.dataframe.methods.concat`.  If there are cases not handled by `dask.dataframe.methods.concat` then I would add them to that function as extra dispatches (feel free to ask about this should it become necessary).

I would just rely on `dask.dataframe.methods.concat` to raise the error.  I don't think that we should

[2019-04-12 10:58] sergiocalde94 opened #37 "Impossible to reproduce model results"
I´ve just opened this issue in the dask repo, but maybe here is better...

I´m using dask for implementing a data pipeline with dask dataframes and dask ml in a Yarn Cluster.

When I build an XGBoost model, the results are always different, even if I manually fix a seed with da.random.seed().

[code]

Is it possible to reproduce the results of a dask model like the one in local using sklearn inste

[2019-04-12 11:13] sergiocalde94 commented on #37
The problem is when I run the model in cluster mode (not local). It´s a Yarn Cluster as I mentioned before.

[2019-04-12 15:44] jcrist commented on #37
`da.random.seed` has no effect on `dask-xgboost`, so that definitely won't work. Currently it looks like we don't support setting a random seed for this library, but we should be able to. I'm not super familiar with xgboost, but it looks like you should be able to set the seed by adding `seed` to the `params`, which will be forwarded to every call to `xgb.train` (this may be non-optimal though, we

[2019-04-12 15:56] sergiocalde94 commented on #37
Sorry, I had to tell to you that I also tested with seed parameter and it's not reproducible :(

[2019-04-12 15:59] jcrist commented on #37
Ok. This may have to do with how we're using xgboost, or it may be inherent to xgboost (as I mentioned above). I'm not the person to figure this out, Tom likely knows more here.

[2019-04-14 23:30] javabrett commented on #23
I hit this issue just now, deploying the `stable/dask` Helm chart on k8s, and adding `dask-xgboost` as addition package.

The problem obviously occurs when a worker tries to start the Rabit tracker on/for each worker - it does this via the Scheduler with `client._run_on_scheduler`.

https://github.com/dask/dask-xgboost/blob/4661c8a1d3a7f6b63ff994b944b6a6231e7c9f31/dask_xgboost/core.py#L139-L144

I

[2019-04-14 23:35] javabrett commented on #23
Port range looks to be hard-coded `9091:9099` ... that can't be good.

https://github.com/dask/dask-xgboost/blob/4661c8a1d3a7f6b63ff994b944b6a6231e7c9f31/dask_xgboost/tracker.py#L160-L164

[2019-04-15 02:22] javabrett commented on #23
I was able to generate this logging for the failed bind, the host:port is:

`dask-scheduler:9091`

The problem with that when running in a k8s cluster, is that the Rabit bind occurs on the `dask-scheduler` pod, but it thinks that the correct hostname to bind is `dask-scheduler`.  That name (and matching IP address that it is attempting to bind to), belongs to the `service` e.g.:

[code]

From a sh

[2019-04-15 12:06] TomAugspurger commented on #23
The rabbit code was copied directly from xgboost I believe.

I think https://github.com/dask/dask-xgboost/issues/23#issuecomment-420272147 diagnosed the issue, and it seems that was your eventual conclusion?

As far as fixing this, I think the options are to setup the cluster networking so that dask-scheduler always resolves to the scheduler IP, even on the scheduler. Barring that, a host keyword

[2019-04-17 23:39] javabrett commented on #23
Yes, the issue and diagnosis is consistent with my observations ... earlier I was in a hurry and only skimmed those and pasted my logging capture, but the issue is fairly clear now I think.

In terms of a fix, it looks like there's a couple of options:

**1. Route Rabit tracker traffic back through the Dask Scheduler _Service_**

- Inside the `dask-scheduler` pod/container, instead of trying to bi

[2019-04-18 18:19] TomAugspurger commented on #23
I'm not sure I understand your proposals, but both sound too Kubernetes specific. More so than necessary. I think that

is worth exploring before anyone else, but I won't have time to.

[2019-04-23 10:10] sergiocalde94 commented on #37
@TomAugspurger can you reply please? :(

[2019-04-23 11:52] TomAugspurger commented on #37
I’m on parental leave for the next couple weeks. Could you try debugging it further yourself?

[2019-04-24 12:56] DigitalPig commented on #37
When you are saying not replicable, do you mean the model itself? Or its prediction? If it is the prediction, is it the probability or the class label?

[2019-04-24 13:53] DigitalPig opened #38 "[Feature Request] Added the support of evals for the `train` function for early stopping"
Hi,

Currently the dask-xgboost package [does not](https://github.com/dask/dask-xgboost/blob/4661c8a1d3a7f6b63ff994b944b6a6231e7c9f31/dask_xgboost/core.py#L313-L315) support early_stopping.

Not super familiar with dask or xgboost, but my very rough thinking is it should be just passing the validation set `DMatrix` object during the training function [here](https://github.com/dask/dask-xgboost/blo

[2019-04-24 14:35] mrocklin commented on #38
Hi @DigitalPig ,

This package just sets up XGBoost and hands it data and keyword arguments.  The normal XGBoost library then takes control and handles everything.

So so for features like early stopping you should probably ask in the XGBoost issue tracker rather than here.  We can't control features like this.

[2019-04-24 16:50] sergiocalde94 commented on #37
Sorry @TomAugspurger ;(

Hi @DigitalPig,

The point is that if I build two xgboost models with exactly the same parameters it doesn´t return the same model because the importances are different. My preprocessing code is this (df_train is a dask dataframe):

[code]

and then if I make this train two times and show its feature importances they are different:

[code]

first model:

![model1](https://

[2019-04-28 21:28] TomAugspurger commented on #23
Can someone try out this patch?

[code]

[2019-04-29 03:29] DigitalPig commented on #37
Which xgboost version are you using? I know the recent xgboost change the default method of variable importance from `weight` to `gain`. The plot you show still uses `weight` here.

Also, I would try to take a downsampled dataset and train it w/o dask to see if you still get different variable importance.

Last, there are some stochastic options turned on during your training like `colsample_by_tr

[2019-04-29 03:32] DigitalPig commented on #38
Hi @mrocklin , Thank you for the reply! Totally understand the "wrapper" function of `dask-xgboost` here. The reason I am asking is because xgboost's documentation says its train can handle early stopping as long as you pass a DMatrix object into it. That is the reason I am asking here to see if there is any specific reason why it is not implemented here. Because if you already thought about it be

[2019-05-02 15:05] mrocklin opened #39 "Migrate to XGBoost mainline repository"
@RAMitchell (an xgboost maintainer) was mentioning that it might be possible to migrate the whole of the dask-xgboost codebase into xgboost itself.

Any thoughts or concerns about this?

I think that the proposed API change would be to add a `dask_client=` keyword (or something similar) to the official `train` and `predict` methods.

[2019-05-03 22:17] TomAugspurger commented on #39
No objections here, though I think the CI is failing with the latest xgboost. I have a half-written tutorial copying https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html. I’ll try to finish that up in a couple weeks.

[2019-05-06 04:40] javabrett commented on #39
Someone should verify that this code with [license (BSD 3-clause)](https://github.com/dask/dask-xgboost/blob/master/LICENSE.txt) can be absorbed into and under [their license (ASF 2.0)](https://github.com/dmlc/xgboost/blob/master/LICENSE) without changes.

I expect this is fine as BSD-3-clause is permissive, but best make sure they have checked before they accept the code, that no relicensing is r

[2019-05-06 13:33] sergiocalde94 commented on #37
@DigitalPig sorry for the time I took to answer, I was during my holidays.

I´m using xgboost 0.81, returned by:

[code]

With the random options turned off the model also return different importances:

I ran this two times

[code]

First execution it returns this importances:

![first](https://user-images.githubusercontent.com/22750693/57220863-3a7a1880-6ffd-11e9-9eb5-9e582d18c3a6.PNG)

And the s

[2019-05-11 09:51] pasayatpravat commented on #31
Is there any update on this issue? I am also encounring the same problem.

[2019-05-13 04:25] javabrett commented on #23
I tested this patch (thank you for it), with some extra logging, on AWS EKS, using the Dask `stable/dask` Helm chart with latest `dask` and the required additional packages.  It did not resolve the issue, but I did not expect it to either.

The error/logging on the scheduler pod/container is:

[code]
The IP address `10.100.165.190` the code is attempting to bind for the Rabit tracker is the addres

[2019-05-13 14:32] TomAugspurger commented on #23
Thanks for testing that out. I'll confess that this is getting beyond my networking knowledge.

At a high-level, this *feels* like the kind of thing that can be resolved inside dask-xgboost itself. I suspect it shouldn't need any modifications to the cluster networking itself. But I clearly don't understand the issue well enough to say for sure.

[2019-05-13 15:17] TomAugspurger commented on #31
Still open. You can apply https://github.com/dask/dask-xgboost/pull/28. IIRC there are some issues with the CI / testing on master, but no one has had time to resole them (LMK if you're interested in working on it).

[2019-05-14 01:07] javabrett commented on #23
@TomAugspurger thanks, and yes I think you are angling at the right approach.  The XGBoost cluster should be short-lived enough that it can be allowed to run with Rabit worker->tracker(on Dask Scheduler node) addressing being internal, not via the k8s `service/dask-scheduler` as it currently attempts.

Perhaps I will find the time to try different bind strategies and hopefully this can be fixed in

[2019-05-15 06:09] javabrett commented on #23
Just a note that this is reproducible on a local Docker Desktop for Mac Kubernetes cluster, so it Helm chart specific if anything, rather than specific to a particular k8s cluster type e.g. AWS EKS.

[2019-05-15 12:33] javabrett commented on #23
Can anyone suggest a complete reliable test notebook, complete with data?  Something that currently runs outside of k8s but (likely) fails in k8s per this issue.

[2019-05-16 02:18] TomAugspurger commented on #23
I haven't tried it, but https://gist.github.com/TomAugspurger/c68c06df1f7e68c1ecba6dba2bf67710 will likely do it.

[code]

[2019-05-17 01:07] mrocklin opened #41 "Run the central Rabit process on a worker"
Currently we run Rabit's central process on the scheduler and the worker processes with the dask workers.  This has caused issues in two cases:

1.  Sometimes the scheduler has a more stripped down environment and doesn't have all of the libraries that the workers do.
2.  Sometimes the scheduler's networking position is somewhat different from the workers #23 #40

We might consider instead running

[2019-05-17 01:42] javabrett commented on #41
- How sould the worker be chosen - just `workers[0]`?
- Are we currently fault-tolerant in any way should a single worker die?  And if so, is the likelihood of worker-death higher-enough that it should occur more-frequently than on the scheduler, which is presumably running less code/load?
- Are there any time-sensitive Rabit tracker tasks which would cause problems if the tracker-worker was under

[2019-05-19 20:22] RAMitchell commented on #41
So for my xgboost integration (https://github.com/dmlc/xgboost/pull/4473) I will try the approach of running the tracker on worker zero and assume the performance load of the tracker is negligible.

[2019-05-22 09:05] sergiocalde94 commented on #37
Any idea for why with more data dask_xgboost doesn´t return the same results for reproducibility?

[2019-05-22 19:55] TomAugspurger commented on #37
If you remove dask-xgboost from the equation, and just use XGBoost, are the results deterministic? Is it still deterministic if you use XGBoost distributed training (again, not using dask to set up the distributed xgboost runtime)

[2019-05-27 22:38] sergiocalde94 commented on #37
@TomAugspurger yes! with just using XGboost the results are deterministic with all of the data and xgboost with 30 n_jobs (cores)

[2019-05-27 22:48] TomAugspurger commented on #37
Is that 30 cores on one machine or distributed?

[2019-05-27 22:58] sergiocalde94 commented on #37
@TomAugspurger mmm is in one machine, can I distributed xgboost only with the xgboost library?

[2019-05-27 23:06] TomAugspurger commented on #37
Yes, that’s the runtime dask hooks into.

[2019-05-27 23:11] sergiocalde94 commented on #37
Ok I will test it tomorrow! Thanks

[2019-05-28 07:37] jackie930 opened #42 "question about source code logic"
Dear community,

I am quite new to dask, and trying to figure out how exactly does models like XGBoost distributed training via Dask. And got confused with below code from ```dask-xgboost/dask_xgboost/core.py```, why here we only use [v for v in results if v][0] instead of the whole result lists? i.e., what does the comment only one will be non-None mean?

[code]

Thanks!

Jackie

[2019-05-28 13:46] TomAugspurger commented on #42
If you look in `train_part` you'll see the return value is

[code]

so only the worker with rank 0 in XGBoost's world will return a non-None value.

[2019-05-29 16:22] jakirkham commented on #39
As xgboost now has native Dask support in mainline ( https://github.com/dmlc/xgboost/pull/4473 ), what would like to do with this repo?

[2019-05-31 06:52] jackie930 commented on #42
Thanks for your reply, I guess then my question is, here we split the data into several chunks, train various xgb models on each worker locally, and only return the result from one worker. Then does that mean we only actually do sample modeling instead of distributed training? In other words, what's the point of training the rank non-0 models on those workers?

[2019-05-31 08:34] TomAugspurger commented on #39
At least update the readme, possible add a warning on import.

[2019-05-31 09:09] TomAugspurger commented on #39
Will want to wait until there’s an XGBoost release though.

[2019-05-31 14:08] TomAugspurger commented on #42
I'm not very familiar with XGBoost's distributed mode, but my understanding
is that it's actually distributed training.

FYI, dask-xgboost's functionality is being moved to XGBoost itself.
https://github.com/dmlc/xgboost/pull/4473.

On Fri, May 31, 2019 at 1:52 AM jackie930 <notifications@github.com> wrote:

[2019-05-31 14:21] mrocklin commented on #42
I think that all of the boosters are effectively the same, so we only need
tor return one of them.

On Fri, May 31, 2019 at 7:08 AM Tom Augspurger <notifications@github.com>
wrote:

[2019-05-31 16:47] jakirkham commented on #39
That sounds reasonable. How do we handle new issues that are reported here?

[2019-05-31 16:49] mrocklin commented on #39
Just to be clear, the solution in XGBoost is quite a bit different than
what is implemented in this repository.  Folks may want to familiarize
themselves with their solution before deprecating this repository entirely.

On Fri, May 31, 2019 at 9:47 AM jakirkham <notifications@github.com> wrote:

[2019-06-03 17:45] sergiocalde94 commented on #37
Sorry but I couldn´t test it because in our environment we are usiong a cluster that we are not allow to configure and it´s not possible to execute xgboost in distributed without dask.

Any idea to test it? :(

PS: For me the strangest thing is that with less data the results are reproducible even dask is using also the cluster (dask dashboard show it)

[2019-06-03 20:17] TomAugspurger commented on #37
I don't have any other ideas at the moment.

On Mon, Jun 3, 2019 at 12:45 PM Sergio Calderón Pérez-Lozao <
notifications@github.com> wrote:

[2019-06-17 21:38] damienrj opened #43 "XGBoost works with local cluster, but fails with "no-workers" when using distributed."
The dask cluster is setup as:
[code]
[code]
And this works fine with
[code]
But this doesn't work with
[code]
Or
[code]

Any idea of where to find more logs or what is going on?

**Task: train_part...**

Status | no-worker
Priority | (0, 54, 0)
Worker Restrictions | set(['tcp://10.0.0.60:42869'])
Suspicious | 1

Worker Logs
[code]

Scheduler
[code]

[code]

[2019-06-18 15:39] ksangeek commented on #39
@mrocklin Could you please elaborate a bit on how the implementation in this repository is different from the one included in dmlc/xgboost? And if you have some more time on what circumstances this one could be preferred?

[2019-06-18 16:08] mrocklin commented on #39
I don't know the other implementation particularly well.  I recommend
reading their docs to get a more authoritative perspective.

https://xgboost.readthedocs.io/en/latest/python/python_api.html#module-xgboost.dask

On Tue, Jun 18, 2019 at 5:39 PM ksangeek <notifications@github.com> wrote:

[2019-06-18 22:42] RAMitchell commented on #39
@ksangeek See demos here: https://github.com/dmlc/xgboost/tree/master/demo/dask

The xgboost dask integration is currently slightly more low-level than what is here. We are currently considering if we can extend the API to provide more high level functionality currently available in dask-xgboost without duplicating existing xgboost APIs. If this can be achieved we should be able to definitively mo

[2019-06-18 22:44] damienrj commented on #43
Okay, it looks like xgboost is what is failing
[code]
It is local host because in this example am running from the scheduler.

[2019-06-19 03:03] ksangeek commented on #39
Thank you @mrocklin and @RAMitchell for the useful information.

[2019-06-20 17:42] damienrj commented on #43
It turns out that the problem was XGBoost is that it cares about the ip given in `client(IP:Port)`.  So the built in libraries like logistic regression will work if you do `client(localhost:Port)` via port forwarding because it doesn't try to have to worker connect to localhost. But XGBoost seems to read in the ip address and rabbit trys to talk to localhost instead of the actual worker ip address

[2019-06-20 17:42] #43 closed

[2019-06-21 16:14] xiaozhongtian opened #44 "Verify the benchmark of gboostClissfier"

[2019-06-21 19:38] TomAugspurger commented on #44
Does the same issue affect distributed XGBoost without dask (e.g. https://xgboost.readthedocs.io/en/release_0.72/tutorials/aws_yarn.html)?

[2019-06-21 19:51] xiaozhongtian commented on #44
I haven't tried it, maybe i will try next Monday.
but I found that [](https://xgboost.readthedocs.io/en/release_0.72/tutorials/aws_yarn.html) is not existed in the latest version.
[](https://xgboost.readthedocs.io/en/latest/tutorials/aws_yarn.html)
It's really intresting.

[2019-06-25 09:17] ksangeek opened #45 "Time for a new release?"
I see the latest released version of dask-xgboost is `0.1.5` and on `18 Nov 2017`. Multiple fixes have gone in after that!
@mrocklin @TomAugspurger Could you please suggest if it is a good time to have a new release?

[2019-06-25 16:19] TomAugspurger commented on #45
I can push a release today. It's a bit tricky since our CI has been broken on newer versions of XGBoost (just the testing; the actual package *should* be OK).

[2019-06-25 17:06] zdwhite commented on #30
@TomAugspurger I have this same issue.

My use case for dask-xgboost on local cluster is that my data set is very large. I was hoping to test the benefits of dask with training on large datasets.

Here is my Traceback for this problem.

`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-i

[2019-06-25 18:45] TomAugspurger commented on #30
@zdwhite what version of dask / distributed? What's your scheduler address?

[2019-06-26 03:14] zdwhite commented on #30
@TomAugspurger Let me check
[code]

Scheduler Address (this changes I believe)
tcp://127.0.0.1:54582

[code]

[2019-06-26 09:00] ksangeek commented on #45
Okay. @TomAugspurger do you have information on which was the latest version of XGBoost where the test cases passed?

[2019-06-26 11:17] TomAugspurger commented on #45
I'm not sure.

On Wed, Jun 26, 2019 at 4:00 AM ksangeek <notifications@github.com> wrote:

[2019-06-26 11:18] TomAugspurger commented on #45
0.1.7 (I messed up 0.1.6) is out on PyPI, and Conda-forge packages are building now!

[2019-06-26 11:18] #45 closed

[2019-07-01 14:30] ksangeek opened #47 "[QST] test_numpy() fail with "rabit::Init is already called in this thread""
I am using dask-xgboost 0.1.7 with xgboost 0.82.
`test_core.py::test_numpy` was failing for me and I looked more into the failure and this is my understanding. I am bit amused as these tests were passing for me the last week and AFAIR with the same version of packages )!
Need some help to understand what is going on here.

1. `test_core.py::test_numpy` failed with `rabit::Init is already called in

[2019-07-01 14:42] TomAugspurger commented on #47
I've never really understood the issue unfortunately. I tried to fix this
upstream in xgboost, but didn't get too far with it:
https://github.com/dmlc/xgboost/issues/2796

On Mon, Jul 1, 2019 at 9:30 AM ksangeek <notifications@github.com> wrote:

[2019-07-02 04:21] ksangeek commented on #47
@TomAugspurger Thanks for the link to your attempt.
Inferring from the comments in https://github.com/dask/dask-xgboost/issues/39#issuecomment-503338836  I am expecting that the work being done for low-level integration of dask in xgboost would not suffer from this issue.

[2019-07-08 15:20] TomAugspurger commented on #30
@zdwhite you might want to try inserting a breakpoint in `parse_host_port` in `dask_xgboost/core.py` to debug further.

[2019-08-06 18:20] quasiben opened #48 "dashboard updates"
When using dask-xgboost I see the profile dashboard page update but nothing in the task stream or progress panes.  Is this expected ?

[2019-08-06 18:23] mrocklin commented on #48
Can you verify that other tasks submitted from your client show up?

Can you verify that you're using the operations found in this library and not the solution in the xgboost documentation (which is a separate implementation)

[2019-08-06 18:29] quasiben commented on #48
Other tasks show up in the dashboard.  I *am* using the xgboost implementation from dmlc/rapids.    Should I file an issue with https://github.com/dmlc/xgboost/ ?

[2019-08-06 18:30] mrocklin commented on #48
Does that code use tooling like `compute/persist/submit/map`, which generate tasks, or does it use `.run` which doesn't?

[2019-08-06 18:31] mrocklin commented on #48
Regardless, at this point it's not a bug in the dask-xgboost implementation, but yes, it's an issue with dmlx/xgboost.

Whether or not it's a bug is up to them though.  They may have chosen to use run for a reason.

[2019-08-06 18:31] quasiben commented on #48
Thanks for commenting!

They are using `run()`

[2019-08-06 18:47] #48 closed

[2019-08-27 18:05] TomAugspurger commented on #38
I don't recall, sorry.

On Tue, Aug 27, 2019 at 12:57 PM Mike McCarty <notifications@github.com>
wrote:

[2019-08-27 20:23] mrocklin commented on #38
I wonder if this is handled by the get_xgb_params line just above?

On Tue, Aug 27, 2019 at 12:56 PM Mike McCarty <notifications@github.com>
wrote:

[2019-08-27 21:20] TomAugspurger commented on #38
It's a break with convention (but we could probably mirror the break, I'm
not sure).

Something like `sample_weights` has to be passed here since it's data
dependent.

I think supporting `early_stopping_rounds` requires supporting `eval_set`.
I'm not sure if there
are potential issues there with `eval_set` being a distributed dataframe or
array.

On Tue, Aug 27, 2019 at 3:27 PM Matthew Rocklin <no

[2019-08-31 16:39] ksangeek opened #49 "[BUG] testcase faliure - gen_cluster() got an unexpected keyword argument 'check_new_threads'"
**Describe the bug**
pytest for the tests having call to `gen_cluster()` fails with  -

[code]

**Steps/Code to reproduce bug**
This can be easily reproduced with the distributed version 2.3.2.
Here is the complete error seen on the terminal -

[code]

**Additional context**
Looking at the code for the latest release of distributed -
https://github.com/dask/distributed/blob/a0d68d42b81fe0215098d7f

[2019-08-31 16:46] mrocklin commented on #49
This should either be removed (if that passes) or replaced with `clean_kwargs={"threads": False}`

[2019-09-03 10:46] ksangeek opened #51 "[BUG] testcase failure - TypeError: can not initialize DMatrix from COO"
**Describe the bug**
pytest for `test_sparse()` fails with  -

[code]

**Steps/Code to reproduce bug**
This can be easily reproduced with xgboost 0.82 and 0.90.

<Details>
============================= test session starts ==============================
platform linux -- Python 3.6.9, pytest-5.0.1, py-1.8.0, pluggy-0.12.0
rootdir: /home/sangeek/examples/dask-xgb-examples/tests
plugins: xdist-1.28.0

[2019-09-03 11:14] TomAugspurger commented on #51
IIRC, we originally used sparse.COO because it works better within dask arrays. If using a scipy.sparse matrix doesn't work, I'd recommend just skipping the test.

[2019-09-03 12:36] ksangeek commented on #51
Hi @TomAugspurger Thanks for your input. I can make the change to skip this test.

Can you please help me with getting past the CI issue `Too long with no output (exceeded 10m0s)
` seen in this PR - https://github.com/dask/dask-xgboost/pull/50?
I was able to successfully get the tests run on my local machine!

[2019-09-03 15:32] TomAugspurger commented on #51
Thanks, I'm not sure why that would be right now.

[2019-09-08 14:21] kaixinbuyu opened #52 "does dask-xgboost support Dmatrix of libsvm sparse file?"
after I find a lot document I find dask-xgboost maybe my best solution.

I have a training task need much RAM(40G RAM maybe).the input features is libsvm sparse file（15G）.

1:can dask-xgboost use a cluster's RAM contains 3 nodes of each 16G RAM?  16*3=48G>40G.
2.does dask-xgboost support DMatrix of libsvm sparse file?
3.does dask-xgboost support sample weight?

[2019-09-08 19:10] TomAugspurger commented on #52
1. Yes
2. I'm not sure, but probably as long as xgboost's distributed mode does.
3. I'm not sure, but probably not, since this would need to be partitioned along with the data.

[2019-09-10 19:38] mmccarty commented on #38
I've got an initial PR for this that I will push up for feedback as soon as I can.

[2019-09-18 12:41] #49 closed

[2019-09-18 12:52] ksangeek commented on #51
This is closed via https://github.com/dask/dask-xgboost/pull/50.
Thanks @TomAugspurger!

[2019-09-18 12:52] #51 closed

[2019-09-20 13:41] DKorman opened #53 ""module 'dask_xgboost' has no attribute * erors""
Hello,

I am experiencing strange behaviour when trying to use dask-xgboost. I am on Windows 10 machine and am using Python 3.7. I am trying to test dask on a local machine first with a local cluster.

I have no errors when importing dask_xgboost, but when I try to call any of it's functions I get a no attribute error. For some reason I am unable to use this package.
Two examples that throw the er

[2019-09-20 13:51] TomAugspurger commented on #53
Most likely it's not installed properly. How'd you install dask-xgboost?

[2019-09-20 14:02] DKorman commented on #53
I was using the GUI of pycharm to install it with the Conda package manager.

[2019-09-20 14:04] TomAugspurger commented on #53
Can you create a new conda environment and post the output of installing
dask-xgboost?

On Fri, Sep 20, 2019 at 9:02 AM DKorman <notifications@github.com> wrote:

[2019-09-20 14:55] DKorman commented on #53
This is the command line output after installing dask-xgboost using anaconda prompt:

Package xgboost conflicts for:
dask-xgboost -> xgboost
Package vc conflicts for:
python=3.7 -> vc[version='14.*|>=14,<15.0a0|>=14.1,<15.0a0']
Package distributed conflicts for:
dask-xgboost -> distributed[version='>=1.16.0']
Package openssl conflicts for:
python=3.7 -> openssl[version='>=1.1.1a,<1.1.2a|>=1.1.1b,<

[2019-09-23 11:41] TomAugspurger commented on #53
Yeah, that didn't install correctly. I'm not entirely sure why though.

Is that from the conda-forge channel? May need to make a new release / build.

[2019-09-23 11:57] DKorman commented on #53
Hmm, I didnt specify to use forge channel. Does it redirect to it if it doesnt find the item on the primary channel?

[2019-09-23 12:45] TomAugspurger commented on #53
Depends on your conda config. `conda config --show-sources `

[2019-10-03 17:56] #38 closed

[2019-10-08 18:58] AlbertDeFusco opened #55 "Get dask-gateway scheduler address"
When connecting to a dask-gateway the `client.scheduler_address` is a proxy address

[code]

I was able to solve this with the following in `core::_train` with `client.scheduler_info()['address']`)

[code]

However, I get the following warning.

[code]

I have verified that his update works correctly on a 9m row training set and scales linearly from 4 to 8 workers (2cores/worker). Is this the corr

[2019-10-08 19:58] TomAugspurger commented on #55
I'll look into this soon. I'm planning a refactor to move this logic into distributed itself.

[2019-10-16 15:06] mmccarty commented on #37
@sergiocalde94 Do you have minimal example that reproduces this issue?  If so, I can take a look.

[2019-10-23 16:57] vilmara opened #57 "XGBoostError: Boolean is not supported"
Hi all, I am the running the rapids NYCTaxi notebook via docker image rapidsai/rapidsai:0.10-cuda10.1-runtime-ubuntu18.04, but I am getting the below error at the training step, some tip tp fix it?:

`trained_model = dxgb_gpu.train(client, params, X_train, Y_train, num_boost_round=100)`
tracelog:
`---------------------------------------------------------------------------
XGBoostError

[2019-10-23 17:40] TomAugspurger commented on #57
Does this work using just XGBoost on a subset of the data? That error seems to indicate that something in xgboost can't handle a bool column?

[2019-10-23 19:21] vilmara commented on #57
Hi Tom, thank you are right, I have dropped the boolean column (which wasn't needed) and it worked. So, what is the issue with dask-xgboost handling boolean columns, where should I report this bug?

[2019-10-23 19:24] TomAugspurger commented on #57
Does it work if you're just using xgboost itself?

On Wed, Oct 23, 2019 at 2:21 PM Vilmara <notifications@github.com> wrote:

[2019-10-23 19:26] vilmara commented on #57
I am working on multi-node mode, I haven't tried with xgboost itself yet

[2019-10-23 19:32] TomAugspurger commented on #57
I'd recommend trying to pass a small subset of your data to a regular
xgboost train call to see if it supports boolean columns.

On Wed, Oct 23, 2019 at 2:26 PM Vilmara <notifications@github.com> wrote:

[2019-10-24 16:46] kylejn27 commented on #37
I was able to reproduce this error. Taking a look at why this is happening

[2019-10-24 23:30] kylejn27 commented on #37
I installed both libraries from source, the error seemed to go away. I did some digging and it seems that its a problem with version 0.90 of xgboost.

I'm fairly certain that this is the culprit and was fixed a few days ago i commit in the master of xgboost branch here:
https://github.com/dmlc/xgboost/commit/7e72a12871eaa0ebc46e863dabe8657e3f0557ad#diff-fd53d68e0037d3512896122d1248d969L1128

[2019-10-25 01:00] jakirkham commented on #37
In that case, would recommend requesting if upstream could make a new release.

[2019-10-25 15:22] kylejn27 commented on #37
ok, my conclusion was a bit premature. I ran the example that reproduced the error again today  after the issue above was closed and realized that I had accidentally set `n_workers=1` in my distributed client, so it wasn't running in distributed mode. I'm going to continue to look into this problem

[2019-10-31 16:05] kylejn27 commented on #37
No solution yet, but I have interesting information. I was tailing the dask worker logs and noticed a trend. If the thread that the workers were running on were the same between executions of the `train` method, the feature importance graphs were the same.

I'm not sure if this is an issue with dask-xgboost or dmlc/xgboost but I was able to reproduce this issue on the v1.0 version of dmlc/xgboost

[2019-11-04 16:46] mrocklin commented on #37
cc @RAMitchell in case he has thoughts on what might be going on here.

[2019-11-04 16:46] mrocklin commented on #37
(or knows someone who can take a look)

[2019-11-07 16:18] mrocklin commented on #37
cc also @trivialfis

[2019-11-07 16:59] trivialfis commented on #37
Yup.  We are still struggling with some blocking issues to make a new release.

[2019-11-07 17:35] mrocklin commented on #37
Ah ok.  Good to know that this is on your radar.  Thanks Jiaming!

On Thu, Nov 7, 2019 at 8:59 AM Jiaming Yuan <notifications@github.com>
wrote:

[2019-11-08 16:44] kylejn27 opened #59 "[Feature Request] Support evals_result"
Hello,

Currently the dask-xgboost package train result does not return `evals_result`.

I'm thinking it can be implemented in a similar way to https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/dask.py#L348

I'd be happy to open a PR with this change myself, but I'd like to get feedback on what your thoughts are on this implementation because I imagine having the existing `train`

[2019-11-08 18:08] TomAugspurger commented on #59
Can you give an example of what `evals_result` does? I don't understand their docs. It's a parameter that's passed into `train` and mutated inplace?

[2019-11-08 18:18] kylejn27 commented on #59
Its a history of the evaluations on each iteration. From what I understand, for every iteration of the train step, the resulting evaluation metric is appended to this `evals_result` dictionary.

evals_result is added to a `record_evaluation` callback here
https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/training.py#L207

Here's the callback code in dmlc/xgboost:
https://github.co

[2019-11-08 20:42] TomAugspurger commented on #59
Thanks for the clear example.

My main questions now are: where are the evals evaluated, and does the order matter? If they're evaluated on the workers as part of distributed training, then I don't think we can make any guarantee about the order of these results as they come in (I could be misunderstanding what happens though).

[2019-11-12 21:42] kylejn27 commented on #59
I'm still learning how xgboost (and distributed xgboost) works, so I could be incorrect but I'll try to explain this to the best of my ability

The evaluations are triggered on each worker as part of a post `bst.update` call to the `bst.eval_set` method. This is done in the [boost round loop](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/training.py#L62-L99).

I believe order

[2019-11-18 20:11] #59 closed

[2019-11-19 17:48] kylejn27 opened #62 "Predict() Method Always Returns 1 (Binary Classification)"
When you attempt to use dxgb.XGBClassifier's predict method, it always generates a prediction of 1 regardless of the `predict_proba` (sigmoid) output. See minimal motivating example below, where I generate targets of all 0. The model learns it should generally predict 0 (low probabilities), but the predictions all generate 1.

Note: you cannot pass a threshold parameter into `.predict()`, another

[2019-11-19 17:58] kylejn27 opened #63 "Early stopping eval_set is array in memory this can be problematic for large datasets"
When using Early stopping, the eval set must be a numpy array, which is then duplicated across workers.  This causes no problem with small eval_sets, but when larger eval_sets are desired, this can easily cause workers to push their memory caps.

The DaskDMatrix concept from [dmlc/xgboost/dask.py](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/dask.py#L114)  seems to be a great

[2019-11-26 15:25] kylejn27 commented on #63
@mmccarty

[2019-11-26 15:25] kylejn27 commented on #62
@mmccarty

[2019-11-26 16:20] kylejn27 commented on #39
Has this been thought about further? There's functionality in this library that I'd like to implement that's already been done in dmlc/xgboost's native dask integration

[2019-11-26 16:30] TomAugspurger commented on #39
From what I understand, the implementation in xgboost is closer to what we have here now.

Personally, I'd like to see this handled within xgboost itself, to reduce the maintenance load here :)

Are there any features within dask-xgboost not handled within xgboost itself?

[2019-11-26 17:02] kylejn27 commented on #39
I've been bouncing around the two codebases in the past few weeks, their implementation is extremely similar to what's in this repo, but supports more features in the underlying xgboost library

Nope. The peers that I work with are requesting features for this library that have already been implemented in the native xgboost dask implementation

[2019-12-02 13:07] trivialfis commented on #37
Sorry for the long wait.  Should be fixed once https://github.com/dmlc/xgboost/pull/4732 is merged.

[2019-12-02 14:56] jakirkham commented on #37
@mmccarty, would someone from your team be able to try out Jiaming’s PR ( https://github.com/dmlc/xgboost/pull/4732 )?

[2019-12-02 14:58] kylejn27 commented on #37
@jakirkham I'll test it out

[2019-12-02 15:20] mmccarty commented on #37
Great! Thank you @trivialfis
Thanks @kylejn27

[2019-12-02 17:14] trivialfis commented on #37
I tested it with year prediction dataset with dask interface in XGBoost, along with "exact" tree method used in this issue.  More tests are coming.

The root problem is in model serialization, previously distributed training is more or less a Java/Scala thing and the JVM package built a layer on top of c++ to handle parameters.  See the short tutorial in that PR.  I tried to handle them in C++ by

[2019-12-02 17:24] kylejn27 commented on #37
@trivialfis @jakirkham ran a few tests using that branch (ensuring that dask-xgboost was using Jiaming's PR branch as its xgboost dependency), saw the same issue. ~60% of the time there was a discrepancy in results

Here's an example of it failing:
https://github.com/kylejn27/dask-xgb-randomstate-bug/blob/master/dxgb_random_state_bug.ipynb

[2019-12-02 17:45] trivialfis commented on #37
I ran your example, X_train is different between runs.  i converted it into numpy then save it as file for running sha256sum.

[2019-12-02 17:46] trivialfis commented on #37
While X is reproducible

[2019-12-02 18:17] kylejn27 commented on #37
Not sure if I'm getting the same results as you, but maybe I'm doing something wrong. Were you saving the input arrays inside the model code itself?

Sometimes, when running that example it does produce identical models, othertimes it does not. I've been running the script 4-5 times to ensure that I'm not getting different models.

So after running this I got two different models, but the input pa

[2019-12-05 18:06] jakirkham commented on #37
@trivialfis, any thoughts? 🙂

[2019-12-05 18:32] trivialfis commented on #37
Sorry for late reply.  Will get back to this tomorrow or at weekend.  I also need to test for more popular tree methods like hist and GPU hsit.

[2019-12-05 21:23] TomAugspurger commented on #39
This topic came up in the monthly Dask meeting today. On the call @kylejn27 repeated that dmlc/xgboost handles everything dask-xgboost handles and more. If that is the case then maintaining dask-xgboost is wasted effort.

XGBoost hasn't made a release since the refactored dask handling went in. So we'll need to wait until their next release before making any concrete decisions. But my preference i

[2019-12-06 16:08] datainvestor opened #64 "Getting ValueError when fitting model"
I'm getting the following error:

[code]

While trying to fit the model:

[code]

Any idea why this might be happening?

[2019-12-06 17:50] TomAugspurger commented on #64
Looks similar to https://github.com/dask/dask-xgboost/issues/30? I don't believe that was ever resolved.

FYI, I don't think dask-xgboost will be helpful on a single machine (which you're using with processes=False) but I may be wrong.

[2019-12-06 21:33] datainvestor commented on #64
This looks similar I think. So you say it is impossible to use Dask with XGBoost now?

[2019-12-06 21:34] TomAugspurger commented on #64
No. I think you don't want to be using dask-xgboost with
`Client(processes=False)`.

On Fri, Dec 6, 2019 at 3:33 PM datainvestor <notifications@github.com>
wrote:

[2019-12-09 14:00] trivialfis commented on #37
Sorry for the many noise here.  It suddenly occurred to me that the `exact` tree method, see `tree_method` in https://xgboost.readthedocs.io/en/latest/parameter.html .

[2019-12-09 19:53] kylejn27 commented on #37
@trivialfis hmm your right, I missed that in the docs. I still wasn't able to reproduce model results when I set the tree_method param to `hist` ... though I'm not super familiar with the intricacies of the different tree methods, is it expected behavior to see different trees then or is `exact` the only method that's supposed to return the same tree.

referencing this in the FAQ:
https://xgboost.

[2019-12-09 20:05] trivialfis commented on #37
Set the numeric errors aside, it's supposed to have exact same trees.  But sometimes numeric errors can be troublesome, for example XGBoost utilities gradients in missing value.  It's nice in the math but floating point errors sometimes generate artificial gradients that are misinterpreted as gradients from missing value, hence changing the default split direction (I haven't talked to anyone about

[2019-12-09 20:16] kylejn27 commented on #37
That's helpful to know, thanks for looking into this further

[2019-12-09 20:51] trivialfis commented on #37
Please note that the above example is rare as I have only seen it in an artificially generated small dataset that has specific pattern of values.  Usually this doesn't happen on any other datasets, as normally the error is not even close to be big enough to affect the split direction.

[2019-12-11 11:35] trivialfis commented on #37
Ran some tests today for both hist and gpu_hist.  For small number of iterations (< 48) with 2 workers 4 threads each, on YearPredictionMSD dataset (a dense dataset with 0.5M rows) the model should be reproducible.  But going higher starts to generate discrepancy.   It's not a good news but at least it proves that their is no human error in the code to generate this discrepancy.  Most of the error

[2019-12-11 14:58] mmccarty commented on #37
Thank you for the update @trivialfis Please let us know if you need any assistance.

[2019-12-24 01:43] xybramble opened #67 "Remove duplicate memory of data in _train() in dask_xgboost"
I run the project and notice in **_train()** there is a memory usage in process same as memory usage of data. However, *data* in **train_part()** (also the return value in **concat()**) also takes up the memory usage. As the **train_part()** only uses the list_of_parts, if it is possible to delete the original data after returning the list_of_parts in **_train()**?

I tried *client.cancel()* and *

[2019-12-24 01:47] xybramble opened #66 "Remove duplicate memory of data in _train()"
I run the project and notice in **_train()** there is a memory usage in process same as memory usage of data. However, *data* in **train_part()** (also the return value in **concat()**) also takes up the memory usage. As the **train_part()** only uses the list_of_parts, if it is possible to delete the original data after returning the list_of_parts in **_train()**?

I tried *client.cancel()* and *

[2019-12-30 12:16] TomAugspurger commented on #66
Can you clarify a bit how / where / when you see the duplicate memory? You think that dask-xgboost is retaining a reference to some data so it isn't being garbage collected?

[2020-01-06 21:58] TomAugspurger commented on #67
Duplicate of #66 I think.

[2020-01-06 21:58] #67 closed

[2020-01-30 08:48] pradghos opened #68 "[Bug] Dask worker dies while during dask-xgboost classifier training : test_core.py::test_classifier"
Dask worker dies while during dask-xgboost classifier training ; It is being observed while running `test_core.py::test_classifier`

Configuration used -

[code]

Description / Steps - :-

1. Test create two cluster -
[code]

2. After couple of steps - fit is being called for dask-xgboost -

[code]

Dask worker dies -

[code]

It is not clear why does dask worker die at that point .

Thanks!
Pradi

[2020-01-30 09:07] pradghos commented on #68
If I remove `sparse` package coming from `conda-forge` from my environment - Dask worker is working fine  and able to finish the task instead of dying -

removing `sparse` conda package -
[code]
Then success log -
[code]
fit log -
[code]

`train_part`  part of XGBoost distributed workload runs fine in both the worker.

[2020-01-30 09:10] pradghos commented on #68
Any pointer if `sparse` package coming `conda-forge` is not compatible with `dask-xgboost` or `xgboost` or what could be the reason behind dask worker's dying ? It would really help !

[2020-01-30 14:02] TomAugspurger commented on #68
Can you provide a minimal example?
http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

I'm not sure why the presence of sparse would matter. We do import it, and
it imports numba, but only use it when
passed a sparse array.

On Thu, Jan 30, 2020 at 3:10 AM Pradipta Ghosh <notifications@github.com>
wrote:

[2020-02-04 20:19] dancyfang commented on #37
Thanks for all the discussion! I recently get on-boarded to dask-xgboost. Can someone summarize what's the reason for the irreproducibility?

[2020-02-11 09:36] pradghos commented on #68
It is easily reproducible with the test case ;
we have  in `dask-xgboost` test case - `pytest -v test_core.py::test_classifier`

Code snippet :-
[code]
As I have mentioned earlier whenever we have `sparse` conda package ; Hang is being observed -  because one `dask` worker died.

Please let me know if you need any other information.

Thanks!

[2020-02-11 12:52] TomAugspurger commented on #68
You also have scipy installed?

The sparse code is fairly self contained, just https://github.com/dask/dask-xgboost/blob/master/dask_xgboost/core.py#L17-L22 and https://github.com/dask/dask-xgboost/blob/master/dask_xgboost/core.py#L50-L63. Are you able to step through those and see where things go wrong?

[2020-02-19 03:25] hcho3 commented on #39
FYI, I am currently working on the upcoming release for XGBoost (1.0.0). ETA is tomorrow (2/19).

[2020-03-12 09:06] wyxandsj opened #69 "How can I avoid dask-xgboost no-work status"
I used 2800W samples to train dask xgboost, but the status of training task always shows no work.

`	from distributed import Client, progress
	from dask.distributed import Client as Client2
	import dask.dataframe as dd
	import pandas as pd
	from sklearn.model_selection import train_test_split
	from sklearn.metrics import roc_auc_score, roc_curve
	import dask_xgboost as dxgb
	import time

	print(ti

[2020-03-12 11:54] TomAugspurger commented on #69
Do you have a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-03-15 02:36] tuanatrieu opened #70 "xgboost does not train from existing model in distributed client"
When continuing training xgboost from an existing model in distributed environment with more than 3 workers, xgboost does not train: nothing happens in workers and it never finishes. But in local cluster or distributed cluster with less than 3 workers, the training happens and finishes.

dxgb.train(client, params, X_train, y_train,
                      xgb_model=existing_model,...)

[2020-03-16 15:41] TomAugspurger commented on #70
Do you know why that might be?

Do things work if you use the native dask integration? https://xgboost.readthedocs.io/en/latest/tutorials/dask.html

[2020-03-16 23:45] tuanatrieu commented on #70
I don't know why. The native dask integration in the link can train from existing model.

However, I have a different problem with it. Its performance is just like random in distributed environment vs. good performance from Dask xgboost with the same parameters and data.

[2020-03-19 13:57] TomAugspurger commented on #70
I'm not sure why that would be, but the usual recommendation is to create a
performance report:
https://distributed.dask.org/en/latest/diagnosing-performance.html#performance-reports

On Mon, Mar 16, 2020 at 6:45 PM tuanatrieu <notifications@github.com> wrote:

[2020-03-23 13:36] HennethAnnun opened #71 "Dask worker dies during dask-xgboost classifier - no sparse package, fails only on GPU"
Dask worker dies after calling dask_xgboost.train method using GPU's (one or many).
Same code runs fine on CPU.

**Configuration used - RAPIDS docker image**
cuDF Version: 0.12.0b+2032.gab97331
Dask Version: 2.10.1
Dask cuDF Version: 0.12.0b+2032.gab97331
Dask XGBoost Version: 0.1.5
numpy Version: 1.18.1
pandas Version: 0.25.3
Scikit-Learn Version: 0.22.1

**Description / Steps**
[code]

distribut

[2020-03-23 13:40] TomAugspurger commented on #71
Where in `train_part` does it fail? IIRC we run a function on the data to check if its a sparse dtype. Can you try running just that function?

[2020-03-23 13:51] HennethAnnun commented on #71
Data is all int64. No NA'ns.
How to debug this / get the logs? Could you help me with this?

[2020-03-23 13:56] TomAugspurger commented on #71
I don't recall if there's logging in this area. You might have to insert
print statements / breakpoints.

On Mon, Mar 23, 2020 at 8:51 AM HennethAnnun <notifications@github.com>
wrote:

[2020-03-23 19:38] HennethAnnun commented on #71
Hm... that is tough :-)

Here: https://github.com/dask/dask-xgboost/blob/master/dask_xgboost/core.py
**Line 228**
I get here no results

Here is my crafted DEBUG ;-) :

2020-03-23 19:35:38,701 - numba.cuda.cudadrv.driver - DEBUG - call driver api: cuCtxGetDevice
2020-03-23 19:35:39,125 - dask_xgboost.core - INFO - train function called
2020-03-23 19:35:39,126 - dask_xgboost.core - INFO - _train fu

[2020-03-23 19:49] TomAugspurger commented on #71
Nothing stands out to me. What happens if you manually submit a train_part
to a worker?

On Mon, Mar 23, 2020 at 2:39 PM HennethAnnun <notifications@github.com>
wrote:

[2020-03-24 09:15] HennethAnnun commented on #71
Hi Tom, thank you for your time. I have stripped train_part and run manually conversion from pandas to DMatrix, then only rabbit and xgb training on single GPU. GPU memmory got filled. It happened so fast I did not catch it. Same happened on the local cluster.

Debugging this is a challenge, but I learned a lot. Thx.

[2020-03-24 09:15] #71 closed

[2020-03-26 22:02] tuanatrieu commented on #70
I can create a performance report, but the thing is that the training does not seem to happen and never finish even if I build just one tree. CPU usage in all workers are %2-6% (vs. ~ +100% CPU usage if I remove the parameter `xgb_model`). If you have any suggestion for how to debug it, please let me know.

[2020-03-26 23:32] jakirkham commented on #70
Just a blind guess, have you tried deleting `dask-worker-space` and `storage` directories that Dask creates.

They will be wherever [`temporary-directory`]( https://github.com/dask/dask/blob/c743feab0a92d20e248d32e97dcfbe567f4dfbd0/dask/dask.yaml#L1 ) is set to. This most likely would be set in `~/.config/dask/dask.yaml`, but could be configured in other places depending on what your code might be

[2020-03-31 15:14] tuanatrieu commented on #70
Thank for the suggestion. I had `dask-worker-space ` in my folder, after removing it, I can train with several workers on a small dataset. So, I moved to submit the job with skein instead of using my edgnode as client. But, when I increase the dataset size (< 1Gb), it does not train again. Looking at the log, I can see only one worker started the `hist` algorithm but did not progress to build any

[2020-04-30 12:46] Abhishekmamidi123 commented on #2
I am also facing the same issue. I am trying to run dask_xgboost with GPU option enabled on a large dataset.

The dask_xgboost is working fine when the dataset is small. When I tried with 10K, 100K, 1M data points, it worked perfectly. When I increased it to 10M, it's failing and the Dask dashboard is not responding. It's failing before entering the "train_part".

For your reference, I am using th

[2020-04-30 14:07] mrocklin commented on #2
XGBoost expects the dataset to fit comfortably in memory.  Perhaps the
dataset is larger than RAM in the way that XGBoost stores it?  I would look
at the Dask dashboard and see if worker memory was getting high.

On Thu, Apr 30, 2020 at 5:46 AM Abhishekmamidi <notifications@github.com>
wrote:

[2020-05-20 14:02] blinickg opened #72 "normalize_estimator function trying to access non-existent attribute"
See thread here: https://github.com/dask/dask-ml/issues/667

Proposing a change to subclass `AttributeError` to make it clear that you're accessing a non-existent attribute when calling the `normalize_estimator` function before training.

[2020-05-20 14:08] TomAugspurger commented on #72
@blinickg I believe this should go in https://github.com/dmlc/xgboost, not here :) That's where the XGBoostError is raised.

[2020-05-20 14:23] blinickg commented on #72
Ah, OK. Thanks @TomAugspurger

[2020-05-20 14:23] #72 closed

[2020-06-08 21:15] jcuda000001 commented on #21
@TomAugspurger Is there currently any other approaches to run Hyperparameter tuning for XGBoost in Dask-ML where the workload is primarily "memory constrained"? It seems both GridSearchCV and RandomizedCV with XGBoost in Dask-ML ends up in the "No clients found" error. Does XGBoost support partial_fit API to run in IncrementalSearchCV? Thanks for all the work related to Dask-ML.

[2020-06-08 21:21] TomAugspurger commented on #21
I don't think XGBoost implements partial_fit, but it's possible to add on
your own by subclassing their estimators and using
`xgb_model=self._booster` on subsequent calls. I don't have an example
handy at the moment unfortunately.

On Mon, Jun 8, 2020 at 4:15 PM jcuda000001 <notifications@github.com> wrote:

[2020-06-09 12:16] jcuda000001 commented on #21
@TomAugspurger - Thanks. Just to confirm, is there any hyperparameter tuning modules in Dask/Dask-ML which works currently for algorithms without partial_fit already implemented?

[2020-06-09 13:24] TomAugspurger commented on #21
Yes, GridSearchCV and RandomizedSearchCV both work with estimators that
implement `.fit`. They just don't work with the latest version of xgboost's
estimators because of that bug in the type of exception raised, which is
fixed on xgboost master.

On Tue, Jun 9, 2020 at 7:17 AM jcuda000001 <notifications@github.com> wrote:

[2020-06-09 20:52] #23 closed

[2020-07-07 18:44] dding3 opened #73 "xgboost stop working after train finished with dask.distributed.SSHCluster"
**What happened**:
I have a cluster with 3 nodes and I tried to run xgb.dask.train() with SSHCluster as:
[code]

I can see the model began training on 2 nodes as cpu usage for one python process is about 100%. However after training finished(cpu usage drop under 10%), nothing happens in nodes and client as I didn't see debug log "after train" and the model is not dumped on either node.  And it nev

[2020-07-07 18:52] quasiben commented on #73
@dding3 can you build a [minimal reproducer](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) of the problem ?  Does this fail on a a single machine without using dask-ssh ?

[2020-07-08 02:27] dding3 commented on #73
The program can work if using dask.distributed.LocalCluster on a single machine.  Please try below code:
[code]

[2020-07-09 03:00] mrocklin commented on #73
Thank you for the issue and the example @dding3

I tried running it with LocalCluster but I ran into some issues.  Verifying is DaskDMatrix from the xgboost.dask package?  I did a web search and that's where it came up, but I'm not familiar with this package.  I imported that and things seemed to run.

Then eventually my laptop crashed.  Log messages were complaining about running out of memory so

[2020-07-09 15:54] quasiben commented on #73
The `cluster.scale(3)` is strange given you are using  `SSHCluster`.  I would not expect this to work cleanly.

As @mrocklin said, I also get an error here:

[code]

[2020-07-11 02:17] dding3 commented on #73
Tried to remove `cluster.scale(3)`, still have same issue.

Please add from `xgboost.dask import DaskDMatrix` before calling `DaskMatrix`.

I have tried to reduce the training data size and model size, however seems they are too small to repro the problem. I will do more experiements to find a appropriate size to repro the problem.

[2020-07-11 03:03] mrocklin commented on #73
Maybe you are running out of memory when trying to solve this problem?
XGBoost requires that the full computation fit comfortably in memory.

On Fri, Jul 10, 2020 at 7:17 PM dding3 <notifications@github.com> wrote:

[2020-07-13 14:48] quasiben commented on #73
If you setup the workers manually you can see messages like the following:

[code]

@mrocklin's suggestion if probably correct -- that is, xgb requires a fair amount of memory.  In the messages above you can see the work is reset with the memory exceeds 95%. I can't close bugs in this repo but that would be my recommendation.  If you feel like there is a bug please reopen with a reproducer

[2020-07-20 03:27] #73 closed

[2020-07-29 19:02] jameslamb opened #75 "new release?"
Thanks for maintaining this awesome package! I'm really digging it.

Would you consider doing a minor release to PyPi? The last one (`1.10.0`) was [about 6 months ago](https://github.com/dask/dask-xgboost/releases/tag/0.1.10), and I'm relying on installing from GitHub right now to get this fix: #40

Thanks for your time and consideration

[2020-07-31 15:52] TomAugspurger commented on #75
I can do one today or next week. Anything you want to get in first
@gforsyth?

On Wed, Jul 29, 2020 at 2:02 PM James Lamb <notifications@github.com> wrote:

[2020-07-31 16:01] gforsyth commented on #75
Thanks for the ping @TomAugspurger -- I think @mmccarty covered the major footguns in his PR.  One thing we need to do following the pypi release is to update the conda-forge feedstock and pin `xgboost` to `0.90` (or `<=0.90`)

[2020-07-31 16:52] jakirkham commented on #75
Should [this line]( https://github.com/dask/dask-xgboost/blob/34f9b66cbc5eff9adb545e19009a2dff7120ebd0/requirements.txt#L1 ) also be `<=0.90`?

[2020-08-03 14:38] mmccarty commented on #75
If we want to pin `xgboost` to `<=0.90`, yes.

[2020-08-03 14:40] gforsyth commented on #75
I was in the middle of answering this on Friday and then got distracted (sorry).

I think `<=0.90` is probably the way to go.  There is probably some low version that will break, but we can cross that bridge if and when we come to it, and there's no reason to exclude 0.80 for the moment.

[2020-08-04 13:08] TomAugspurger commented on #75
Uploaded to [PyPI](https://pypi.org/project/dask-xgboost/0.1.11/). conda-forge bots should pick it up later today.

[2020-08-04 13:08] #75 closed

[2020-08-04 14:02] jameslamb commented on #75
Thanks!

[2020-08-10 21:45] jakirkham commented on #39
@mmccarty @kylejn27 @gforsyth, would it be possible to get a summary of the current outstanding issues for migrating to xgboost for Dask usage?

cc @JohnZed (for vis)

[2020-08-12 23:12] jakirkham commented on #39
On a different note, there is currently an RC for `xgboost` 1.2.0. Would be great if people can try and share feedback here ( https://github.com/dmlc/xgboost/issues/5970 ).

[2020-08-13 00:50] trivialfis commented on #39
Please loop me in to related issues around migration.

[2020-08-27 14:11] mmccarty commented on #39
This are the issues that I'm aware of
 - dmlc/xgboost#5765
 - dmlc/xgboost#5619
 - dmlc/xgboost#5495

[2020-11-03 10:08] jacobtomlinson opened #79 "Migrate CI to GitHub Actions?"
Due to changes in the Travis CI billing, the Dask org is migrating Travis CI to GitHub Actions.

This repo appears to use CircleCI. As we are putting in the effort to migrate many projects to GitHub Actions does it make sense to standardise here?

See dask/community#107 for more details.

[2020-11-09 22:45] jameslamb commented on #79
Instead of anyone spending time on this, I think it's worth waiting a little longer for `xgboost.dask` to be fully ready to replace `dask-xgboost` (https://github.com/dask/community/issues/104)

XGBoost maintainers have a pull request up right now for the last remaining issue from https://github.com/dask/dask-xgboost/issues/39 that is needed for `xgboost.dask` to be usable as a full replacement fo

[2020-11-10 00:13] jakirkham commented on #79
My guess is Jacob was opening issues across all of the Dask repos. So probably wasn't thinking of the specifics of each repo. Feel free to correct me if that is incorrect Jacob 🙂

That said, yeah agree that we don't need to worry about that change on this repo for now. If we need to update this repo again in the future, we might want to revisit at that time

[2020-11-10 14:13] jacobtomlinson commented on #79
Yeah I was just opening issues on all affected repos in order to start discussions and track things.

I propose we leave this open pending the upstream work. I assume once `xgboost.dask` is ready this repo will be archived anyway.

[2020-11-12 20:18] jrdzha commented on #55
Hi, is there any update on this issue? I'm using the Dask implementation in XGBoost itself, rather than this library, so my feeling is this may be a bug with Dask rather than XGBoost?

I'm using LocalCluster with Dask 2.28.0.

[code]

[2020-12-14 19:59] jameslamb commented on #39
Now that release 1.3.0 is out (congrats!!!) and it includes fixes for all the issues in https://github.com/dask/dask-xgboost/issues/39#issuecomment-681974273, can this be closed?

[2020-12-14 22:42] jakirkham commented on #39
@mmccarty? 🙂

[2020-12-15 01:14] mmccarty commented on #39
Yes! Let's close this issue. Thank you everyone for the hard work!

[2020-12-17 18:50] #39 closed

[2021-02-08 20:06] jsignell opened #80 "Archive this repo?"
Since the functionality has been moved to xgboost itself. Would now be the appropriate time to archive this repo?

[2021-02-08 20:08] jrbourbeau commented on #80
cc @TomAugspurger @mmccarty @gforsyth

[2021-02-08 20:18] gforsyth commented on #80
We've moved our work over to `xgboost.dask`, so for our purposes, anyway, this repo can be archived.

[2021-02-08 20:30] jakirkham commented on #80
SGTM. Should we update the README to reflect this?

[2021-02-08 20:34] jrbourbeau commented on #80
That sounds good. Similar to `dask-lightgbm`, we might also consider issuing a final release before archiving which adds a warning that the functionality in `dask-xgboost` has been moved into `xgboost` and `dask-xgboost` is no longer maintained

[2021-02-08 23:58] trivialfis commented on #80
Can we wait for xgb 1.4?  I would like to get the integrated version feature complete at this version.

[2021-02-08 23:59] TomAugspurger commented on #80
Adding a warning, updating the docs, and archiving sounds good to me.

[2021-02-09 03:14] JohnZed commented on #80
In the near future, I'd be totally onboard with archiving. But I agree with @trivialfis - there are still a few more minor bits coming for xgboost.dask in 1.4 (DART algo comes to mind?), so archiving this project after 1.4 is out would sound most appealing, as then we can clearly say there is no reason to use it for any new code.

[2021-02-26 22:31] KWiecko opened #81 ""The truth value of a Series is ambiguous" exception when training with `sample_weights`."
**What happened**:

When `sample_weight` is specified and train() method input's npartitions is not equal to the number of workers the following evaluation:

sample_weight = concat(sample_weight) if np.all(sample_weight) else None

fails :(

**What you expected to happen**:
Train model without exceptions :)

**Minimal Complete Verifiable Example**:

The following code raises an exception:

"ValueE

[2021-02-27 02:51] jakirkham commented on #81
Would suggest looking at XGBoost's own Dask integration over using this library (if it is an option for you)

https://xgboost.readthedocs.io/en/latest/tutorials/dask.html

[2021-02-27 08:08] KWiecko commented on #81
Unfortunately I am bound to xgboost==0.90. I tried to find the dask API buried inside xgboost==0.90 both in the docs (https://xgboost.readthedocs.io/en/release_0.90/index.html) and across the web and the only solution that I was able to find was dask-xgboost + xgboost.

[2021-04-08 22:40] bhavana3 opened #82 "Facing issue AttributeError: 'DataFrame' object has no attribute 'to_delayed' for dask-xgboost"
**What happened**:
Facing an issue like AttributeError: 'DataFrame' object has no attribute 'to_delayed' from core.py (line 175, version latest - 0.1.11)  data_parts = data.to_delayed()
**What you expected to happen**:
train model by calling
bst = dxgb.train(client, hyperparameters, df, labels)

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

[2021-04-20 04:52] trivialfis commented on #80
Hi, XGBoost 1.4.1 is out and available on pypi.  I believe we can safely redirect users to the `xgboost.dask` module in the future as it's mostly feature-complete now.  Thanks for the excellent work everyone!  ;-)

[2021-04-20 13:55] jsignell commented on #80
Great! So what's needed is a note on the readme and then for someone to push the "archive button"?

[2021-04-20 14:05] jrbourbeau commented on #80
Adding a promonant note to the README sounds good. I'll propose we also add a warning which points users to `xgboost.dask` (similar to what we did [with `dask-lightgbm`](https://github.com/dask/dask-lightgbm/pull/30)) and issue a final release.

[2021-05-23 19:23] denizhankara commented on #23
Any solution to this problem?

[2021-05-23 19:31] jakirkham commented on #23
This library has been superseded by Dask support in XGBoost itself. Would suggest using that instead

[2021-07-12 17:11] cookielee77 opened #83 "Support new version of xgboost?"
Thanks for amazing package! Current version only supports xgboost <=0.90, but we used a newer version of xgboost >= 1.00. I'm wondering whether there is a plan to support the newer version of xgboost in the near future?

Thanks!

[2021-07-12 17:23] mrocklin commented on #83
Hi @cookielee77 !  You may also be interested in using the xgboost.dask package.  See https://xgboost.readthedocs.io/en/latest/tutorials/dask.html

[2021-07-12 17:43] cookielee77 commented on #83
Thanks for the quick response! I'm wondering whether the difference between the xgboost.dask package in the above page and xgboost in dask_ml (which requires dask-xgboost)?

[2021-07-12 18:16] jrbourbeau commented on #83
@cookielee77, good question. The functionality in `dask-xgboost` has been upstreamed and included in the main `xgboost` package (that's the `xgboost.dask` package @mrocklin was referencing). We will soon deprecate `dask-xgboost` and recommend users move to `xgboost.dask` instead (xref https://github.com/dask/dask-xgboost/issues/80).

[2021-07-12 18:51] cookielee77 commented on #83
Thanks for the clarification!

[2021-07-12 18:51] #83 closed

[2021-07-12 20:35] jakirkham commented on #83
Yes please use xgboost for this functionality.

[2021-07-12 20:45] jakirkham commented on #80
There's also some references to Dask-XGBoost in Dask-ML ( https://github.com/dask/dask-ml/issues/844 ). We may want to remove those as well.

[2021-07-14 11:56] #80 closed

[2021-07-14 17:30] jrbourbeau commented on #80
Just pushed out 0.2.0 which contains deprecation warnings (xref https://github.com/dask/dask-xgboost/pull/84). Planning to archive this repo tomorrow morning (in the central time zone)

[2021-07-14 17:39] jakirkham commented on #80
Thanks James! 😄